@page "/AddToCount"
@inject ICounterService CounterService

<h1>Add to counter</h1>

<p>Press this button to add a random number to the counter service.</p>

<button type="button" @onclick="AddRandomNumberToCount" />

@code
{
    private void AddRandomNumberToCount()
    {
        var rand = new Random();
        int randomNumber = rand.Next(1, 50);
        CounterService.Add(randomNumber);
    }
}